<ion-header class="ion-no-border"  translucent>
  <ion-toolbar [color]="color">
    
    <ion-title class="ion-text-capitalize">Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid fixed>
    <ion-row class="ion-padding">
      <ion-col size="12" *ngIf="_user.dataUser.role === 'conversador'">
        <form [formGroup]="registroForm" (ngSubmit)="actualiza()" novalidate>
          <ion-item color="light">
            <ion-icon slot="start" name="person-outline" color="azul"></ion-icon>
            <!-- <ion-label >Nombre</ion-label> -->
            <ion-input type="text" placeholder="Nombre" [formControl]="$any(registroForm).controls.name" required></ion-input>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="person-add-outline" color="azul"></ion-icon>
            <!-- <ion-label >Apellidos</ion-label> -->
            <ion-input type="text" placeholder="Apellidos"[formControl]="$any(registroForm).controls.lastName" required></ion-input>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="male-female-outline" color="azul"></ion-icon>
            <!-- <ion-label>Género</ion-label> -->
            <ion-select cancelText="Cancelar" multiple="false" placeholder="Género" interface="action-sheet" [formControl]="$any(registroForm).controls.gender" required>
              <ion-select-option value="hombre">Hombre</ion-select-option>
              <ion-select-option value="mujer">Mujer</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="calendar-outline" color="azul"></ion-icon>
            <!-- <ion-label >Cumpleaños</ion-label> -->
            <ion-datetime placeholder="Cumpleaños" display-format="YYYY-MMMM-DD" cancelText="Cancelar" done-text="Elegir" mode="ios" min="1970" max="2010" [formControl]="$any(registroForm).controls.birthDate" required></ion-datetime>
          </ion-item>
          <ion-item color="light">
            <ion-icon slot="start" name="mail-outline" color="azul"></ion-icon>
            <!-- <ion-label >Email</ion-label> -->
            <ion-input placeholder="E-mail" type="text" [formControl]="$any(registroForm).controls.email"></ion-input>
          </ion-item>
          <!-- <ion-item color="light">
            <ion-icon slot="start" name="id-card-outline" color="azul"></ion-icon>
            <ion-textarea placeholder="Mis intereses" inputmode="text" [formControl]="$any(registroForm).controls.bio"></ion-textarea>
          </ion-item> -->
          <ion-item color="light">
            <ion-icon slot="start" name="call-outline" color="azul"></ion-icon>
            <!-- <ion-label >Teléfono</ion-label> -->
            <ion-intl-tel-input    
              [formControl]="$any(registroForm).controls.phone" >
            </ion-intl-tel-input>
          </ion-item>
          
          
      
      
          <ion-row>
            <ion-col>
            <ion-button type="submit"  expand="block" [disabled]="registroForm.invalid">Guardar</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
      <ion-col size="12" *ngIf="_user.dataUser.role === 'cliente'"> 
        <form [formGroup]="improForm" (ngSubmit)="actualiza()" novalidate>
          <ion-item color="light">
                <ion-icon slot="start" name="person-outline" color="naranja"></ion-icon>
                <!-- <ion-label >Nombre</ion-label> -->
                <ion-input type="text" placeholder="Nombre" [formControl]="$any(registroForm).controls.name"></ion-input>
              </ion-item>
              <ion-item color="light">
                <ion-icon slot="start" name="person-add-outline" color="naranja"></ion-icon>
                <!-- <ion-label >Apellidos</ion-label> -->
                <ion-input type="text" placeholder="Apellidos"[formControl]="$any(registroForm).controls.lastName"></ion-input>
              </ion-item>
              <ion-item color="light">
                <ion-icon slot="start" name="male-female-outline" color="naranja"></ion-icon>
                <!-- <ion-label>Género</ion-label> -->
                <ion-select cancelText="Cancelar" multiple="false" placeholder="Genero" interface="action-sheet" [formControl]="$any(registroForm).controls.gender">
                  <ion-select-option value="hombre">Hombre</ion-select-option>
                  <ion-select-option value="mujer">Mujer</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item color="light">
                <ion-icon slot="start" name="calendar-outline" color="naranja"></ion-icon>
                <!-- <ion-label >Cumpleaños</ion-label> -->
                <ion-datetime placeholder="Cumpleaños" display-format="YYYY-MMMM-DD" cancelText="Cancelar" done-text="Elegir" mode="ios" min="1970" max="2010" [formControl]="$any(registroForm).controls.birthDate"></ion-datetime>
              </ion-item>

              <ion-item color="light">
                <ion-icon slot="start" name="call-outline" color="naranja"></ion-icon>
                <!-- <ion-label >Teléfono</ion-label> -->
                <ion-intl-tel-input    
                  [formControl]="$any(registroForm).controls.phone" >
                </ion-intl-tel-input>
              </ion-item>

              <ion-item color="light">
                <ion-icon slot="start" name="id-card-outline" color="naranja"></ion-icon>
                <ion-textarea placeholder="Intereses" inputmode="text" [formControl]="$any(registroForm).controls.bio"></ion-textarea>
              </ion-item>

              
              
              
              <ion-row>
                <ion-col>
                <ion-button type="submit"  expand="block" color="naranja" [disabled]="registroForm.invalid">Guardar</ion-button>
                </ion-col>
              </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
