ion-item {
    border-radius: 30px;
    margin-bottom: 5px;
}
.mainSlide, .mainSlide ion-slide {
    width: 100%;
    height: 100%;
}

input {
    color: #000;
    background: transparent;
    border:none;
}