<ion-header class="ion-no-border"  translucent>
  <ion-toolbar color="azul">
    <ion-buttons slot="start" *ngIf="_user.emailVerified">
      <ion-menu-button menu="primerMenu"  color="light"></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <img src="assets/logo-toolbar.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>
<div >

</div>
<ion-content class="ion-padding" *ngIf="_user.dataUser.role === 'cliente'">
  <ion-row>
    <ion-col>
      <ion-slides mode="ios" pager="ios" [options]="slideOptions">
        <ion-slide *ngFor="let item of [1,1,1]">
          <img src="/assets/banner01.png" alt="">
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-list-header color="naranja" class="ion-text-center">
      <ion-label>Ultimas sesiones del mes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let call of callList">
      <ion-label>
        <h5>{{ call.sid }}</h5>
        <p>Creada:</p>
      </ion-label>
      
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header color="azul" class="ion-text-center">
      <ion-label>Ultimos referidos</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of [1,1,1,1]">
      <ion-label>Awesome</ion-label>
      <ion-label slot="end">Label</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
<ion-content class="ion-padding" *ngIf="_user.dataUser.role === 'conversador'">
  <ion-row>
    <ion-col>
      <ion-slides mode="ios" pager="ios" [options]="slideOptions">
        <ion-slide *ngFor="let item of [1,1,1]">
          <img src="/assets/banner01.png" alt="">
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-list-header color="naranja">
      <ion-label>{{'HOME.LASTSESSIONS' | translate}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of callList; let i = index" >
      <ion-label>
        <h2>{{user.create | date: 'dd-MMM-YYYY'}}</h2>
      </ion-label>
      <ion-label slot="end">Duracion 10 min</ion-label>
      <!-- <ion-button *ngIf="i == 0" (click)="llamarCliente(user)" slot="end"  color="azul">
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button> -->
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header color="azul" >
      <ion-label>{{'HOME.REFERREDUSERS' | translate}}</ion-label>
      <ion-label position="end" class="ion-text-center">{{'HOME.REGISTRATIONDATE' | translate}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        Usuario
      </ion-label>
      <ion-label slot="end" class="ion-text-right">
        01 Ene 2021
      </ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>
