<ion-header class="ion-no-border"  translucent>
  <ion-toolbar [color]="color">
    <ion-buttons slot="start" *ngIf="_user.emailVerified">
      <ion-menu-button menu="primerMenu"  color="light"></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <img src="assets/logo-toolbar.png" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" *ngIf="_user.dataUser.role === 'cliente'">
  <div class="vertical-padding">
    <ion-slides mode="ios" pager="ios" [options]="slideOptions" id="slideImpr">
      <ion-slide *ngFor="let item of [1,1,1]">
        <img src="/assets/Banner_Pantalla_07.png" alt="">
      </ion-slide>
    </ion-slides>
  </div>
  <div class="vertical-padding bg-white">      
    <ion-grid fixed>
      <ion-row>
        <ion-col size="8" class="ion-no-padding position-relative">
          <div class="ion-text-left">
            <h6>Hola</h6>
            <h4>{{userPerfil?.name}} {{userPerfil?.lastName}}</h4>
            <p class="text-profile">{{userPerfil?.bio}}</p>
          </div>
          <!-- <div class="ion-text-center">
            <span class="text-muted ion-no-margin text-job ion-text-capitalize">{{userPerfil.role}}</span>
          </div> -->
          <!-- <ion-button fill="clear" class="button-vertical-align button-left">
            <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
          </ion-button> -->
        </ion-col>
        <ion-col size="4">   
          <img *ngIf="userPerfil?.foto" [src]="userPerfil?.foto" class="image-round border-tertiary margin-top">
          <img *ngIf="!userPerfil?.foto" src="https://image.flaticon.com/icons/svg/163/163801.svg" alt="" class="image-round border-tertiary margin-top">
        </ion-col>
        <!-- <ion-col size="4" class="ion-no-padding position-relative">
          <ion-button fill="clear" class="button-vertical-align button-right">
            <ion-icon slot="icon-only" name="call"></ion-icon>
          </ion-button> 
        </ion-col> -->
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-padding">
      <ion-row>
            <ion-col size="6">
              <strong class="text-primary">Género</strong> <br>
              <small >{{userPerfil?.gender}}</small>
            </ion-col>
            <ion-col size="6">
              <strong class="text-primary">Email</strong> <br>
              <small >{{userPerfil?.email}}</small>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <strong class="text-primary">Teléfono</strong> <br>
              <small >{{userPerfil?.phone}}</small>
            </ion-col>
            <ion-col size="6">
              <strong class="text-primary">Pais</strong> <br>
              <small ><span class="ion-text-uppercase">{{userPerfil?.country}}</span> <span class="iti-flag {{userPerfil?.country}}"></span></small>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <strong class="text-primary">Cumpleaños</strong> <br>
              <small >{{userPerfil?.birthDtate | date: 'dd-MMMM-YYYY'}}</small>
            </ion-col>
            <ion-col size="6">
              <!-- <strong class="text-tertiary">SPEI</strong> <br>
              <small class="text-white">{{userPerfil.spei}}</small> -->
            </ion-col>
          </ion-row>
    </ion-grid>
  </div>
  
  
</ion-content>
<ion-content class="ion-padding" *ngIf="_user.dataUser.role === 'conversador'">
  <ion-row>
    <ion-col>
      <ion-slides mode="ios" pager="ios" [options]="slideOptions">
        <ion-slide *ngFor="let item of [1,1,1]">
          <img src="/assets/Banner_Pantalla_07.png" alt="">
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-list-header color="azul" class="head-radius">
      <ion-label>{{'CALLS.SUBTITLE' | translate}}</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let user of userList; let i = index; let last = last" [ngClass]="{'last-item': last}">
      <ion-label>
        <h2>{{user.name}}</h2>
        <p >{{user.gender | titlecase}} <span class="ion-text-uppercase">{{user.country}}</span> <span class="iti-flag {{user.country}}"></span>  </p>
        <p>Idioma: {{user.plan.idioma}}  </p>
      </ion-label>
      <ion-button *ngIf="i == 0" (click)="llamarCliente(user)" slot="end"  color="azul">
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar [color]="color">
    <ion-title class="ion-text-right" size="small">Language Fluency SAPI 2021</ion-title>
  </ion-toolbar>
</ion-footer>