<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" offset-md="4">
        <ion-item color="darck" lines="none">
          <ion-img src="/assets/logo-login.png"></ion-img>
          
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" offsetMd="4">
        <form [formGroup]="loginform" (ngSubmit)="doLogin()" novalidate>    
          <ion-item  color="light">
            <ion-icon slot="start" name="mail-outline" color="naranja"></ion-icon>
            
            <ion-label >Email</ion-label>
            <ion-input type="text" [formControl]="$any(loginform).controls.email"
                       pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                       type="email" required></ion-input>
            
          </ion-item> 
      
          <ion-item color="light">
            <ion-icon slot="start" name="key-outline" color="naranja"></ion-icon>
            <ion-label >Password</ion-label>
            <ion-input type="password" [formControl]="$any(loginform).controls.password" required></ion-input>
          </ion-item>
      
          <ion-row>
            <ion-col> 
            <ion-button type="submit"  expand="block" color="azul" [disabled]="loginform.invalid">Login</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col> 
            <ion-button routerLink="/recuperar" expand="block" color="azul" fill="clear" >Recuperar Contraseña</ion-button>
            </ion-col>
          </ion-row>
          <span class="divider line one-line"></span>
      
          <ion-row>
            <ion-col class="ion-text-center"> 
              <ion-button expand="block" routerLink="/registration" color="naranja">¿Nuevo Usuario? Registrate</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
</ion-content>
