<app-header titulo="Wallet" color="naranja"></app-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-list-header color="naranja" class="ion-text-center">
          <ion-label>Pagos realizados</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let pago of pagos" color="light">
          <ion-label>
            <h5>Monto</h5>
            <p>{{ pago.pagado/100 | currency: 'MXN'}}</p>
          </ion-label>
          <ion-label slot="end" class="ion-text-right"><p>{{pago.created*1000 | date: 'dd/MM/YYYY'}}</p></ion-label>
        </ion-item>
      </ion-list>
</ion-content>
