<ion-header>
  <ion-toolbar color="naranja">
    <ion-title>Calificar Speaker</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" id="califica">
    <form [formGroup]="calificaForm" (ngSubmit)="calificar()" novalidate>
      <ion-item color="light">
        <ion-label slot="start">Fluency </ion-label>
        <ngb-rating formControlName="fluency"  [max]="5"  (rateChange)="changefl($event)">
          <ng-template let-fill="fill">
            <span [class.filled]="fill === 100" [class.notfilled]="fill === 0">
              <ion-icon name="custom-icono-speaker"></ion-icon>
            </span>
          </ng-template>
        </ngb-rating>
      </ion-item>
      <ion-item color="light">
        <ion-label slot="start">Pronunciation</ion-label>
        <ngb-rating  formControlName="pronunciation" [max]="5" (rateChange)="changepr($event)">
          <ng-template let-fill="fill">
            <span [class.filled]="fill === 100" [class.notfilled]="fill === 0">
              <ion-icon name="custom-icono-speaker"></ion-icon>
            </span>
          </ng-template>
        </ngb-rating>
      </ion-item>
      <ion-item color="light">
        <ion-label slot="start">Grammar</ion-label>
        <ngb-rating  formControlName="grammar" [max]="5" (rateChange)="changegr($event)">
          <ng-template let-fill="fill">
            <span [class.filled]="fill === 100" [class.notfilled]="fill === 0">
              <ion-icon name="custom-icono-speaker"></ion-icon>
            </span>
          </ng-template>
        </ngb-rating>
      </ion-item>
      <ion-item color="light">
        <ion-label slot="start">Puntos Totales  </ion-label>
        <ion-label><span *ngIf="avg > 0">{{avg | number : '1.2-2'}}</span> <ion-icon *ngIf="avg > 0" name="custom-icono-speaker" color="azul" id="iconAVG"></ion-icon></ion-label>
        <!-- <ngb-rating [rate]="avg"  formControlName="avg" [max]="5" [readonly]="true">
          <ng-template let-fill="fill">
            <span class="star" [class.full]="fill === 100">
              <span class="half" [style.width.%]="fill"><ion-icon name="custom-icono-speaker"></ion-icon></span><ion-icon name="custom-icono-speaker"></ion-icon>
            </span>
          </ng-template>
        </ngb-rating> -->
      </ion-item>
      <ion-button type="submit" expand="block" color="azul" [disabled]="calificaForm.invalid">
        Califica
      </ion-button>
    </form>
  </div>
</ion-content>
