<app-header titulo="Wallet" color="naranja"></app-header>

<ion-content class="ion-padding">
      <ion-list>
        <ion-list-header color="naranja" class="ion-text-center">
          <ion-label>Metodos de pago</ion-label>
        </ion-list-header>
        <ion-item color="light" *ngFor="let item of wallet; let last = last" [ngClass]="{'last-item': last}">
          <ion-icon slot="start" name="card-outline"></ion-icon>
          <ion-label>
            <h5>{{item.token}} </h5>
            <p>Tarjeta {{item?.card.last4}} - Expira {{item?.card.exp_month}}/{{item?.card.exp_year}}</p>
            <p>{{item?.card.brand}}</p>
          </ion-label>
          <ion-button (click)="borraTarjeta()" slot="end">
              <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
      <ion-button (click)="agregaTarjeta()" expand="full" shape="round" color="azul" >
          Agrega Tarjeta
      </ion-button>
</ion-content>
