<app-header titulo="{{'COMMISSIONS.SUBTITLE' | translate}}" [color]="color"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ganancia total</ion-card-title>
      <ion-card-subtitle>{{ 0 | currency }}</ion-card-subtitle>
    </ion-card-header>
    <!-- <ion-item>
      <ion-label color="naranja">Ganancia total</ion-label>
      <ion-label color="azul">{{ 0 | currency }}</ion-label>
    </ion-item> -->
    <ion-item [color]="color">
      <ion-label>Referidos activos</ion-label>
      <ion-label slot="end" class="ion-text-end">Activo</ion-label>      
    </ion-item>
    <ion-list>      
      <ion-item color="light" detail  routerLink="/referral-detail/{{referal.uid}}" *ngFor="let referal of referals">
        <ion-label>
          <p>{{referal.LFId}}</p>
          <h2>{{referal.name}}  {{referal.lastName}}</h2>
        </ion-label>
        <ion-icon slot="end" name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-item>
      
    </ion-list>
    <!-- <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>LFId</th>
          <th>Name</th>
          <th>Contract</th>
          <th>Fee</th>
          <th>%</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>I00001</td>
          <td>Jorge</td>
          <td>Fluent</td>
          <td>45.0</td>
          <td>5.0%</td>
          <td>yes</td>
        </tr>
        <tr>
          <td>I00002</td>
          <td>Alina</td>
          <td>Fluent</td>
          <td>45.0</td>
          <td>5.0%</td>
          <td>yes</td>
        </tr>
        <tr>
          <td>I00003</td>
          <td>Juan</td>
          <td>Fluent</td>
          <td>45.0</td>
          <td>5.0%</td>
          <td>yes</td>
        </tr>
        <tr>
          <td>I00004</td>
          <td>Ale</td>
          <td>Fluent</td>
          <td>45.0</td>
          <td>5.0%</td>
          <td>yes</td>
        </tr>
        <tr>
          <td>I00005</td>
          <td>Beto</td>
          <td>+Fluent</td>
          <td>75.0</td>
          <td>5.0%</td>
          <td>yes</td>
        </tr>
      </tbody>
    </table> -->
  </ion-card>
</ion-content>
