ion-item {
    border-radius: 30px;
    margin-bottom: 5px;
}
.mainSlide, .mainSlide ion-slide {
    
}

input {
    color: #000;
    background: transparent;
    border:none;
}

#horario {
    margin-top: 25px;
}

.titulo {
    font-weight: 600;
}