<ion-header>
  <ion-toolbar color="naranja">
    <ion-title>Agregar Plan</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">Cancelar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 <form [formGroup]="contratarForm" (ngSubmit)="contratar()" color="azul">
  
   <ion-card color="azul">
     <ion-card-content>
      <ion-item color="azul" class="ion-text-center">
        <ion-label *ngIf="plan == 1">Fuency 10/3</ion-label>
        <ion-label *ngIf="plan == 2">+Fuency</ion-label>
      </ion-item>
      <ion-item color="azul">
        <ion-label>Escoge el Idioma</ion-label>
      </ion-item>
      <ion-item color="azul">
        <!-- <ion-label position="floating">Idioma <ion-text color="danger">*</ion-text></ion-label> -->
        <ion-select cancelText="Cancelar" mode="ios" placeholder="Idioma" interface="action-sheet" [formControl]="$any(contratarForm).controls.idioma" required>
         <ion-select-option value="es">Español</ion-select-option>
         <ion-select-option value="en">Ingles</ion-select-option>
         <ion-select-option value="fr">Frances</ion-select-option>
         <ion-select-option value="chn">Chino</ion-select-option>
       </ion-select>
      </ion-item>
      <ion-item color="azul">
        <ion-label class="titulo">Preferencia de horario</ion-label>     
      </ion-item>
     <ion-item color="azul">
       <ion-icon slot="start" name="time-outline" color="azul"></ion-icon>                     
       <ion-datetime mode="ios" placeholder="De" display-format="HH:mm" cancelText="Cancelar" done-text="Elegir" mode="ios" [formControl]="$any(contratarForm).controls.horario" required></ion-datetime>
       <ion-datetime mode="ios" slot="end" placeholder="Hasta" display-format="HH:mm" cancelText="Cancelar" done-text="Elegir" mode="ios" [formControl]="$any(contratarForm).controls.horario2" required></ion-datetime>
     </ion-item>
     <ion-label >"El horario introducido nos servirá como una referencia, las llamadas pueden ocurrir fuera de su preferencia."</ion-label><br><br>
     
     <ion-item color="azul">
      <ion-select cancelText="Cancelar" mode="ios" placeholder="Tarjeta" interface="action-sheet" [formControl]="$any(contratarForm).controls.tarjeta"  required>
          <ion-select-option *ngFor="let item of wallet" [value]="item.customer">{{item.card.brand}} {{item?.card.last4}} - Expira {{item?.card.exp_month}}/{{item?.card.exp_year}}</ion-select-option>
      </ion-select>
     </ion-item>
     <ion-item color="azul">
      <ion-button (click)="addCard()" color="light">
        Agrega Tarjeta
      </ion-button>
    </ion-item>
     <ion-item color="azul">
       <ion-button block color="light" type="submit" [disabled]="contratarForm.invalid">
         Contratar
       </ion-button>    
     </ion-item>
     </ion-card-content>
   </ion-card>
   
 </form>
</ion-content>
