.bg-white {
    background-color: #FAFAFA;
}

.vertical-padding {
    padding-bottom: 15px;
    padding-top: 15px
}

.azul {
    color: #007bff !important;
}

.naranja {
    color: #ff8700 !important;
}