<app-header titulo="Referido" [color]="color"></app-header>
<ion-content class="ion-padding">
  <div class="vertical-padding bg-white">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <strong [class]="color" >ID</strong> <br>
          <small >I00001</small>
        </ion-col>
        <ion-col size="6">
          <strong [class]="color">Usuario</strong> <br>
          <small >Jorge</small>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <strong [class]="color">Contract</strong> <br>
          <small >Fluent 10/3</small>
        </ion-col>
        <ion-col size="6">
          <strong [class]="color">Fee</strong> <br>
          <small >$45</small>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <strong [class]="color">%</strong> <br>
          <small >5%</small>
        </ion-col>
        <!-- <ion-col size="6">
          <strong [class]="color">Fee</strong> <br>
          <small >$45</small>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
