<app-header titulo="{{'COMMISSIONS.TITLE' | translate}}" color="azul"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ganancia total</ion-card-title>
      <ion-card-subtitle>{{ 0 | currency }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-select #mes mode="ios" placeholder="Año" cancelText="Cancelar" interface="action-sheet" (ionChange) ="eligeMes(mes.value)">
        <ion-select-option value="2020">2020</ion-select-option>
        <ion-select-option value="2021">2021</ion-select-option>
      </ion-select>
    </ion-card-content>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Mes</th>
          <th>Llamadas del mes</th>
          <th>Total de minutos</th>
          <th>Minutos reales</th>
          <th>Pagos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tabla">
          <td>{{item.mes}}</td>
          <td>{{item.callsm}}</td>
          <td>{{item.totalmin}}</td>
          <td>{{item.realmin}}</td>
          <td>{{item.payments}}</td>
        </tr>
      </tbody>
    </table>
    <!-- <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th></th>
          <th>Enero</th>
          <th>Febrero</th>
          <th>Marzo</th>
          <th>Abril</th>
          <th>Mayo</th>
          <th>Junio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Llamadas del mes</td>
          <td>30</td>
          <td>27</td>
          <td>35</td>
          <td>33</td>
          <td>30</td>
          <td>31</td>
        </tr>
        <tr>
          <td>Total de minutos</td>
          <td>300</td>
          <td>270</td>
          <td>350</td>
          <td>330</td>
          <td>300</td>
          <td>310</td>
        </tr>
        <tr>
          <td>Minutos reales</td>
          <td>300</td>
          <td>270</td>
          <td>350</td>
          <td>330</td>
          <td>300</td>
          <td>310</td>
        </tr>
        <tr>
          <td>Pagos</td>
          <td>630</td>
          <td>567</td>
          <td>735</td>
          <td>693</td>
          <td>609</td>
          <td>630</td>
        </tr>
      </tbody>
    </table> -->
  </ion-card>
</ion-content>
