<app-header titulo="Agregar Planes" color="naranja"></app-header>


  <ion-content class="ion-padding">
    <form [formGroup]="addPlans" (ngSubmit)="contrata()">
      <table class="table table-striped ">
        <thead class="ion-text-center">
          <tr>
            <th>Idioma</th>
            <th>Plan</th>
            <th>Horario</th>
          </tr>
        </thead>
        <tbody formGroupName="planes">
          <tr formGroupName="es">
            <td>
              <ion-item color="light">
                <ion-checkbox slot="start" color="naranja" name="idioma" value="es" mode="ios" formControlName="ln" ></ion-checkbox>
                <ion-label> Español</ion-label>
              </ion-item>
            </td>
            <td>
              <ion-item color="light">
                <ion-select  placeholder="Selecciona" mode="ios" formControlName="plan">
                  <ion-select-option value="price_1IiLcPFjLGC5FmHqDAZZskyw">Fluency 10/3</ion-select-option>
                  <ion-select-option value="price_1IiLr3FjLGC5FmHq8Z2z8pnq">+ Fluency</ion-select-option>
                </ion-select>
              </ion-item>
            </td>
            <td>
              <ion-item color="light">
                <ion-select placeholder="Selecciona" mode="ios">
                  <ion-select-option value="8">8:00 - 11:00</ion-select-option>
                  <ion-select-option value="11">11:00 - 14:00</ion-select-option>
                  <ion-select-option value="14">14:00 - 17:00</ion-select-option>
                  <ion-select-option value="17">17:00 - 20:00</ion-select-option>
                </ion-select>
              </ion-item>
            </td>
          </tr>
          <tr formGroupName="en">
            <td>
              <ion-item color="light">
                <ion-checkbox slot="start" color="naranja" name="idioma" value="en" mode="ios" formControlName="ln"></ion-checkbox>
                <ion-label> Ingles</ion-label>
              </ion-item>
            </td>
            <td>
              <ion-item color="light">
                <ion-select  placeholder="Selecciona" mode="ios" formControlName="plan">
                  <ion-select-option value="price_1IiLcPFjLGC5FmHqDAZZskyw">Fluency 10/3</ion-select-option>
                  <ion-select-option value="price_1IiLr3FjLGC5FmHq8Z2z8pnq">+ Fluency</ion-select-option>
                </ion-select>
              </ion-item>
            </td>
            <td>
              <ion-item color="light">
                <ion-select placeholder="Selecciona" mode="ios">
                  <ion-select-option value="8">8:00 - 11:00</ion-select-option>
                  <ion-select-option value="11">11:00 - 14:00</ion-select-option>
                  <ion-select-option value="14">14:00 - 17:00</ion-select-option>
                  <ion-select-option value="17">17:00 - 20:00</ion-select-option>
                </ion-select>
              </ion-item>
            </td>
          </tr>
          <tr formGroupName="fr">
            <td>
              <ion-item color="light">
                <ion-checkbox slot="start" color="naranja" name="idioma" value="en" mode="ios" formControlName="ln"></ion-checkbox>
                <ion-label> Frances</ion-label>
              </ion-item>
            </td>
            <td>
              <ion-item color="light">
                <ion-select  placeholder="Selecciona" mode="ios" formControlName="plan">
                  <ion-select-option value="price_1IiLcPFjLGC5FmHqDAZZskyw">Fluency 10/3</ion-select-option>
                  <ion-select-option value="price_1IiLr3FjLGC5FmHq8Z2z8pnq">+ Fluency</ion-select-option>
                </ion-select>
              </ion-item>
            </td>
            <td>
              <ion-item color="light">
                <ion-select placeholder="Selecciona" mode="ios" >
                  <ion-select-option value="8">8:00 - 11:00</ion-select-option>
                  <ion-select-option value="11">11:00 - 14:00</ion-select-option>
                  <ion-select-option value="14">14:00 - 17:00</ion-select-option>
                  <ion-select-option value="17">17:00 - 20:00</ion-select-option>
                </ion-select>
              </ion-item>
            </td>
          </tr>
          <tr formGroupName="cn">
            <td>
              <ion-item color="light">
                <ion-checkbox slot="start" color="naranja" name="idioma" value="en" mode="ios" formControlName="ln"></ion-checkbox>
                <ion-label> Chino</ion-label>
              </ion-item>
            </td>
            <td>
              <ion-item color="light">
                <ion-select  placeholder="Selecciona" mode="ios" formControlName="plan">
                  <ion-select-option value="price_1IiLcPFjLGC5FmHqDAZZskyw">Fluency 10/3</ion-select-option>
                  <ion-select-option value="price_1IiLr3FjLGC5FmHq8Z2z8pnq">+ Fluency</ion-select-option>
                </ion-select>
              </ion-item>
            </td>
            <td>
              <ion-item color="light">
                <ion-select placeholder="Selecciona" mode="ios">
                  <ion-select-option value="8">8:00 - 11:00</ion-select-option>
                  <ion-select-option value="11">11:00 - 14:00</ion-select-option>
                  <ion-select-option value="14">14:00 - 17:00</ion-select-option>
                  <ion-select-option value="17">17:00 - 20:00</ion-select-option>
                </ion-select>
              </ion-item>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <ion-item color="light">
                <ion-select cancelText="Cancelar" mode="ios" placeholder="Tarjeta" interface="action-sheet" [formControl]="$any(addPlans).controls.tarjeta"  required>
                    <ion-select-option *ngFor="let item of wallet" [value]="item.customer">{{item.card.brand}} {{item?.card.last4}} - Expira {{item?.card.exp_month}}/{{item?.card.exp_year}}</ion-select-option>
                </ion-select>
              </ion-item>
            </td>
          </tr>
        </tbody>
      </table>
      
      <ion-button (click)="addCard()" expand="block" color="naranja" shape="round">
        Agregar Tarjeta
      </ion-button>

      <ion-item (click)="openModal(term)" color="light" class="ion-margin-top item-term" >
        <ion-label>Acepto términos y condiciones</ion-label>
        <ion-checkbox checked="true" [formControl]="$any(addPlans).controls.termCond" ></ion-checkbox>
      </ion-item>
      <ion-item (click)="openModal(priv)" color="light" class="item-term" >
        <ion-label>He leído el aviso de privacidad</ion-label>
        <ion-checkbox checked="true" [formControl]="$any(addPlans).controls.privacidad" ></ion-checkbox>
      </ion-item>

      <ion-button type="submit"  expand="block" color="azul" shape="round" class="ion-margin-top" [disabled]="addPlans.invalid">
        Contratar
      </ion-button>
    </form>
  </ion-content>

<ng-template #term>
  <div class="modal-header" color="azul">
    <h4 class="modal-title" id="modal-basic-title">Términos y condiciones</h4>
  </div>
  <div class="modal-body">
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('term')">Aceptar</button>
  </div>
</ng-template>

<ng-template #priv>
  <div class="modal-header" color="azul">
    <h4 class="modal-title" id="modal-basic-title">Aviso de privacidad</h4>
  </div>
  <div class="modal-body">
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('priv')">Aceptar</button>
  </div>
</ng-template>
