<app-header titulo="Planes" color="naranja"></app-header>

<ion-content class="ion-padding">
  <table class="table table-striped table-responsive">
    <thead class="ion-text-center">
      <tr>
        <th>Idioma</th>
        <th>Plan</th>
        <th>Horario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ion-item color="light">
            <ion-checkbox slot="start" color="naranja" name="idioma" value="es" mode="ios"></ion-checkbox>
            <ion-label> Español</ion-label>
          </ion-item>
        </td>
        <td>
          <ion-item color="light">
            <ion-select  placeholder="Selecciona" mode="ios" >
              <ion-select-option value="1">Fluency 10/3</ion-select-option>
              <ion-select-option value="2">+ Fluency</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
        <td>
          <ion-item color="light">
            <ion-select placeholder="Selecciona" mode="ios">
              <ion-select-option value="peperoni">8:00 - 11:00</ion-select-option>
              <ion-select-option value="hawaii">14:00 - 17:00</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
      </tr>
      <tr>
        <td>
          <ion-item color="light">
            <ion-checkbox slot="start" color="naranja" name="idioma" value="en" mode="ios"></ion-checkbox>
            <ion-label> Ingles</ion-label>
          </ion-item>
        </td>
        <td>
          <ion-item color="light">
            <ion-select  placeholder="Selecciona" mode="ios" >
              <ion-select-option value="1">Fluency 10/3</ion-select-option>
              <ion-select-option value="2">+ Fluency</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
        <td>
          <ion-item color="light">
            <ion-select placeholder="Selecciona" mode="ios">
              <ion-select-option value="peperoni">8:00 - 11:00</ion-select-option>
              <ion-select-option value="hawaii">14:00 - 17:00</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
      </tr>
      <tr>
        <td>
          <ion-item color="light">
            <ion-checkbox slot="start" color="naranja" name="idioma" value="en" mode="ios"></ion-checkbox>
            <ion-label> Frances</ion-label>
          </ion-item>
        </td>
        <td>
          <ion-item color="light">
            <ion-select  placeholder="Selecciona" mode="ios" >
              <ion-select-option value="1">Fluency 10/3</ion-select-option>
              <ion-select-option value="2">+ Fluency</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
        <td>
          <ion-item color="light">
            <ion-select placeholder="Selecciona" mode="ios">
              <ion-select-option value="peperoni">8:00 - 11:00</ion-select-option>
              <ion-select-option value="hawaii">14:00 - 17:00</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
      </tr>
      <tr>
        <td>
          <ion-item color="light">
            <ion-checkbox slot="start" color="naranja" name="idioma" value="en" mode="ios"></ion-checkbox>
            <ion-label> Chino</ion-label>
          </ion-item>
        </td>
        <td>
          <ion-item color="light">
            <ion-select  placeholder="Selecciona" mode="ios" >
              <ion-select-option value="1">Fluency 10/3</ion-select-option>
              <ion-select-option value="2">+ Fluency</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
        <td>
          <ion-item color="light">
            <ion-select placeholder="Selecciona" mode="ios">
              <ion-select-option value="peperoni">8:00 - 11:00</ion-select-option>
              <ion-select-option value="hawaii">14:00 - 17:00</ion-select-option>
            </ion-select>
          </ion-item>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <ion-item color="light">
            <ion-select cancelText="Cancelar" mode="ios" placeholder="Tarjeta" interface="action-sheet"   required>
                <ion-select-option *ngFor="let item of wallet" [value]="item.customer">{{item.card.brand}} {{item?.card.last4}} - Expira {{item?.card.exp_month}}/{{item?.card.exp_year}}</ion-select-option>
            </ion-select>
           </ion-item>
        </td>
      </tr>
    </tbody>
  </table>
  
  <ion-button (click)="addCard()" expand="block" color="naranja" shape="round">
    Agrrgar Tarjeta
  </ion-button>

  <ion-item (click)="openModal(term)" color="light" class="ion-margin-top item-term">
    <ion-label>Acepto términos y condiciones</ion-label>
    <ion-checkbox checked="false"  ></ion-checkbox>
  </ion-item>
  <ion-item (click)="openModal(priv)" color="light" class="item-term">
    <ion-label>He leído el aviso de privacidad</ion-label>
    <ion-checkbox checked="false"  ></ion-checkbox>
  </ion-item>

  <ion-button (click)="contrata()" expand="block" color="azul" shape="round" class="ion-margin-top">
    Contratar
  </ion-button>
</ion-content>
<ng-template #term>
  <div class="modal-header" color="azul">
    <h4 class="modal-title" id="modal-basic-title">Términos y condiciones</h4>
  </div>
  <div class="modal-body">
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('term')">Aceptar</button>
  </div>
</ng-template>

<ng-template #priv>
  <div class="modal-header" color="azul">
    <h4 class="modal-title" id="modal-basic-title">Aviso de privacidad</h4>
  </div>
  <div class="modal-body">
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closeModal('priv')">Aceptar</button>
  </div>
</ng-template>
