<ion-header>
  <ion-toolbar color="azul">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"><ion-icon slot="icon-only" name="add"></ion-icon></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row >
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" offset-md="4">
        <ion-item color="darck" lines="none">
          <ion-img src="/assets/logo-login.png"></ion-img>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col><h2 class="ion-text-center">Recuperar Contraseña</h2></ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" offsetMd="4">
        <form [formGroup]="recuperaForm" (ngSubmit)="recuperar()" novalidate>    
          <ion-item  color="light">
            <ion-icon slot="start" name="mail-outline" color="naranja"></ion-icon>
            
            <ion-label >Email</ion-label>
            <ion-input type="text" [formControl]="$any(recuperaForm).controls.email"
                       pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                       type="email" required></ion-input>
            
          </ion-item> 
      
      
          <ion-row>
            <ion-col> 
            <ion-button type="submit"  expand="block" color="azul" [disabled]="recuperaForm.invalid">Recuprar</ion-button>
            </ion-col>
          </ion-row>
      
          <span class="divider line one-line"></span>
      
          
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar color="azul">
    <ion-item color="azul" slot="end">
      <ion-label> Language Fluency SAPI 2021</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>