<ion-menu side="start" menuId="primerMenu" contentId="main">
  
  <ion-content>
    <ion-list>
      <ion-item color="azul">
        <ion-icon slot="start" size="large" name="person-circle" ></ion-icon>
        <ion-label>
          <h4>{{_user.dataUser.name }} {{_user.dataUser.lastName }}</h4>
          <p class="ion-text-capitalize">{{_user.dataUser.role }}</p>
        </ion-label>
        <!-- <ion-buttons slot="end">
          <ion-button (click)="showMenuPop( $event )">
            <ion-icon slot="icon-only" name="caret-down" color="dark"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      </ion-item>
      
    </ion-list>
    <ion-list *ngIf="_user.dataUser.role === 'cliente'">
      <ion-menu-toggle>
        <ion-item  routerLink="/inicio">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          <ion-label>{{'MENU.HOME' | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item  routerLink="sesiones" >
          <ion-icon slot="start" name="chatbubbles-outline"></ion-icon>
          <ion-label>{{'MENU.SESSIONS' | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item  routerLink="wallet">
          <ion-icon slot="start" name="wallet-outline"></ion-icon>
          <ion-label>{{'MENU.WALLET' | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item  routerLink="perfil">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>{{'MENU.ACOUNT' | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="notificaciones">
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          <ion-label>{{'MENU.NOTIFICATIONS' | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item  routerLink="ayuda">
          <ion-icon slot="start" name="help-buoy-outline"></ion-icon>
          <ion-label>{{'MENU.HELP' | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-list *ngIf="_user.dataUser.role === 'conversador'">
      <ion-menu-toggle>
        <ion-item  routerLink="/inicio">
          <ion-icon slot="start" name="home-outline" color="naranja"></ion-icon>
          <ion-label>{{'MENU.HOME' | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item  routerLink="perfil">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>{{'MENU.ACOUNT' | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item  routerLink="records">
          <ion-icon slot="start" name="folder-outline"></ion-icon>
          <ion-label>{{ 'MENU.RECORDS' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item  routerLink="calls">
          <ion-icon slot="start" name="call-outline"></ion-icon>
          <ion-label>{{ 'MENU.CALLS' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item  routerLink="commissions">
          <ion-icon slot="start" name="wallet-outline"></ion-icon>
          <ion-label>{{ 'MENU.COMMISSIONS' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item  routerLink="ayuda">
          <ion-icon slot="start" name="help-buoy-outline"></ion-icon>
          <ion-label>{{'MENU.HELP' | translate}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-item>
        <ion-label>Language</ion-label>
        <ion-select name="lang" interface="popover" (ionChange)="setLanguage($event)">
          <ion-select-option *ngFor="let item of listLang"
          [value]="item.lang">
          {{item.text}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-toolbar>
  </ion-footer>
</ion-menu>