<app-header titulo="Sessiones"></app-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-list-header color="naranja" class="ion-text-center">
          <ion-label>Proximas sesiones</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of [1,1,1,1]">
          <ion-label>Awesome</ion-label>
          <ion-label slot="end">Label</ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header color="naranja" class="ion-text-center">
          <ion-label>Ultimas sesiones del mes</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of [1,1,1,1]">
          <ion-label>Awesome</ion-label>
          <ion-label slot="end">Label</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
