<ion-header class="ion-no-border"  translucent>
  <ion-toolbar [color]="color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Mi cuenta</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="vertical-padding">
      
    <ion-grid fixed>
      <ion-row>
        <ion-col size="8" class="ion-no-padding position-relative">
          <div class="ion-text-left">
            <p>Hola</p>
            <h4>{{userPerfil?.name}} {{userPerfil?.lastName}}</h4>
          </div>
          <!-- <div class="ion-text-center">
            <span class="text-muted ion-no-margin text-job ion-text-capitalize">{{userPerfil.role}}</span>
          </div> -->
          <!-- <ion-button fill="clear" class="button-vertical-align button-left">
            <ion-icon slot="icon-only" name="chatbubbles"></ion-icon>
          </ion-button> -->
        </ion-col>
        <ion-col size="4">   
          <img *ngIf="userPerfil?.foto" [src]="userPerfil?.foto" class="image-round border-tertiary margin-top">
          <img *ngIf="!userPerfil?.foto" src="/assets/boy.png" alt="" class="image-round border-tertiary margin-top">
        </ion-col>
        <!-- <ion-col size="4" class="ion-no-padding position-relative">
          <ion-button fill="clear" class="button-vertical-align button-right">
            <ion-icon slot="icon-only" name="call"></ion-icon>
          </ion-button> 
        </ion-col> -->
      </ion-row>
    </ion-grid>
  
  </div>
  <ion-list mode="ios" id="listaMenu" *ngIf="_user.dataUser.role === 'conversador'">
    <ion-item routerLink="/perfil-bank">
      <ion-label>Editar Cuenta Bancaria</ion-label>
    </ion-item>
    <ion-item routerLink="/perfil-password">
      <ion-label>Editar Contraseña</ion-label>
    </ion-item>
    <ion-item (click)="editarPerfil()">
      <ion-label>Editar Perfil</ion-label>
    </ion-item>
    <ion-item routerLink="/perfil-suspend">
      <ion-label>Suspender Cuenta</ion-label>
    </ion-item>
    <ion-item routerLink="/perfil-delete">
      <ion-label>Eliminar Cuenta</ion-label>
    </ion-item>
  </ion-list>
  <ion-list mode="ios" id="listaMenuImp" *ngIf="_user.dataUser.role === 'cliente'">
    <ion-item routerLink="/perfil-bank">
      <ion-label>Editar Cuenta Bancaria</ion-label>
    </ion-item>
    <ion-item routerLink="/perfil-password">
      <ion-label>Editar Contraseña</ion-label>
    </ion-item>
    <ion-item (click)="editarPerfil()">
      <ion-label>Editar Perfil</ion-label>
    </ion-item>
    <ion-item routerLink="/perfil-suspend">
      <ion-label>Suspender Cuenta</ion-label>
    </ion-item>
    <ion-item routerLink="/perfil-delete">
      <ion-label>Eliminar Cuenta</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
